*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #21325b;
  font-family: "Ubuntu", sans-serif;
  color: white;
  min-height: 100vh;
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.8px;
}
ul li {
  list-style: none;
  margin-bottom: 0.4rem;
}
ul li a {
  text-decoration: none;
  color: inherit;
}

h4 {
  margin-bottom: 1rem;
}

hr {
  width: 100%;
  margin: 2rem 0;
  border: 1px solid rgba(200, 205, 216, 0.4);
}
.top {
  width: 100%;
  display: grid;
  grid-template-columns: auto repeat(4, 1fr);
  gap: 1rem;
}

.heading {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 1.5rem;
}

.logo {
  width: 3rem;
}

.top ul li a:hover {
  color: #b0bbd3;
}

.hiring-btn {
  border: none;
  border-radius: 0.8rem;
  color: #192747;
  padding: 6px;
  font-size: 0.8rem;
  background-color: rgb(243, 163, 14);
  white-space: nowrap;
  font-family: inherit;
  cursor: pointer;
}

.hiring-btn:hover {
  background-color: rgb(216, 151, 31);
  color: rgb(80, 59, 59);
}

.fa-arrow-up-right-from-square {
  margin-left: 0.5rem;
}

.fa-solid {
  margin-right: 0.5rem;
}

.location {
  margin-bottom: 0.8rem;
}

.bottom {
  width: 100%;
  margin: 1.5rem 0 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.policies p {
  display: inline-block;
}

.policies span {
  margin: 0 1rem;
}

.policies span {
  color: rgba(200, 205, 216, 0.4);
}

select {
  border: none;
  cursor: pointer;
  outline-color: transparent;
  background-color: transparent;
  color: rgb(235, 229, 229);
}

option {
  color: #596b8f;
}

.language {
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 0.25rem;
  display: inline-flex;
  cursor: pointer;
  background-color: #596b8f;
}

.language:hover {
  background-color: #324983;
}

.usa-flag {
  width: 18px;
  margin-right: 0.2rem;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links a {
  margin-right: 0.5rem;
  background-color: #596b8f;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: white;
}

.social-links a:hover {
  color: #21325b;
  background-color: #8b9fc9;
}

.copyright {
  margin-bottom: 1rem;
}

.cookies {
  text-align: center;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1024px) {
  body {
    padding: 0 8rem;
  }
  .top {
    gap: 2rem;
    margin-top: 2rem;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
  }
  .infos {
    grid-column: span 5;
  }
  .hiring-btn {
    margin: 0.5rem 0;
  }
}

@media screen and (max-width: 600px) {
  body {
    padding: 0 1rem;
  }

  /* .details {
    width: 100%;
  } */
  .top {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .hiring-btn {
    margin: 0;
  }
  .cookies,
  .copyright {
    text-align: left;
  }

  .bottom {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .copyright {
    width: 100%;
    margin-left: 0;
  }
}
